extends partials/head.pug

block title 
        title Career

block content
    .container
        .card#outer-card.media-container
            .container
                h3.page-title.center-align Ads of Deccan Plast Industries
                p.page-description Various advertisements launched by Deccan Plast Industries in popular TV Channels for Branding & Advertising.
                .row
                    .col.s12.center-align
                        iframe(src='https://www.youtube.com/embed/7fEct1Th5kE' class="youtube-ads" frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
                    .col.s12.center-align
                        iframe(src='https://www.youtube.com/embed/pUUAeJqiCok', class="youtube-ads" frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .center-align                                                        
                    a(href="index.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left home
                        | Home   