extends partials/head.pug

block title 
        title Armless Chairs

block content
    .container
        .card.purple-card
            .card-image
                img(src="images/cover/armless-chairs.png", class="category-page-img", alt="Armless Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Armless Chairs
                p.category-description 
                    strong Nano
                    |    armless chairs are ideal for chair renting business, in school, collage libraries, kids bed rooms in homes, as study chairs.
                p.category-description 
                    strong Key Features:
                    |
                ul
                    li.feature-list Compact and Strong
                    li.feature-list Suitable for hire business, homes, restaurants.
                    li.feature-list  Easy to stack and transport  
                h3.product-title.center-align Nano
                p.center-align 
                    strong Dimensions: 
                    |   (H) 780 mm, (W) 420 mm, (D) 470 mm
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/nano_red.png", alt="Nano Armless Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Nano RED
                                p.price MRP: ₹ 515/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Nano RED")
                                        i.material-icons shopping_cart  
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/nano_pbl.png", alt="Nano Armless Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Nano PBL 
                                p.price MRP: ₹ 515/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Nano PBL")
                                        i.material-icons shopping_cart  
                .center-align                                                        
                            a(href="furniture.html" class="waves-effect waves-light btn-small red") 
                                i.material-icons.left arrow_back
                                | BACK  
                
