extends partials/head.pug

block title 
        title Dining Tables

block content
    .container
        .card.purple-card
            .card-image
                img(src="images/cover/dining_tables_cover_pic.png", class="category-page-img", alt="Dining Tables, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Dining Tables
                p.category-description Our Dining tables are a must for restaurants and road side fast food joints and dhabas, besides lawns of elite homes.
                p.category-description Key Features:
                ul
                    li.feature-list  Sturdy and Strong
                    li.feature-list Suitable for seating 4 people
                    li.feature-list  Can be packed in a box
                h3.product-title.center-align Mangalore Dining Tables
                p.center-align Dimensions: (H) 720 mm,Top (W) 720 mm, (L) 1150 mm
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/mangalore_red.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Mangalore RED
                                p.price MRP: ₹ 1770/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Mangalore RED")
                                            i.material-icons shopping_cart       
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/mangalore_rwd.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Mangalore RWD 
                                p.price MRP: ₹ 1770/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Mangalore RWD")
                                        i.material-icons shopping_cart       
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/mangalore_pwd.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Mangalore PWD 
                                p.price MRP: ₹ 1770/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Mangalore PWD")
                                            i.material-icons shopping_cart       
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/mangalore_dbr.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Mangalore DBR 
                                p.price MRP: ₹ 1770/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Mangalore DBR")
                                            i.material-icons shopping_cart                          
                h3.product-title.center-align Calicut Round Dining Tables
                p.center-align Dimensions: (H) 720 mm,Top Ø(W) 900 mm, (L) 900 mm

                .row.center-align
                    .col.s12.m6.l3.offset-l1
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/calicut_red.png", alt="Calicut Dining Tables, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Calicut RED
                                p.price MRP: ₹ 1590/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Calicut RED")
                                            i.material-icons shopping_cart       
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/calicut_tco.png", alt="Calicut Dining Tables, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Calicut TCO 
                                p.price MRP: ₹ 1590/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Calicut TCO")
                                            i.material-icons shopping_cart       
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/calicut_dbr.png", alt="Calicut Dining Tables, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Calicut DBR 
                                p.price MRP: ₹ 1590/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Calicut DBR")
                                            i.material-icons shopping_cart                    
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left arrow_back
                        | BACK


