extends partials/head.pug

block title 
        title High Back Dining Chairs

block content
    .container
        .card.purple-card
            .card-image
                img(src="images/cover/dining-chairs.png", class="category-page-img", alt="High Back Dining Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align High Back Dining Chairs
                h3.product-title.center-align Figo

                p.category-description 
                    strong Figo 
                    | is an Ideal banquet chair. Suitable for any function. Can go well as dining chair in homes, restaurants, dining halls dhabas, banquet rooms, marriage halls, etc.
                p.category-description 
                strong Dimensions: 
                | (H) 890 mm, (W) 470 mm, (D) 450 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list Attractive and Ideal banquet chairs
                    li.feature-list Suitable for any occassion and function
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc     
                .row.center-align
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_figo_1.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Figo PWD
                                p.price MRP: ₹ 515/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Figo PWD")
                                            i.material-icons shopping_cart       
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_figo_8.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Figo RWD 
                                p.price MRP: ₹ 515/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Figo RWD")
                                            i.material-icons shopping_cart       
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_figo_7.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Figo MBG 
                                p.price MRP: ₹ 515/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Figo MBG")
                                            i.material-icons shopping_cart       
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_figo_4.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Figo RED 
                                p.price MRP: ₹ 515/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Figo RED")
                                            i.material-icons shopping_cart       
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_figo_3.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Figo MHG 
                                p.price MRP: ₹ 515/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Figo MHG")
                                            i.material-icons shopping_cart       

                h3.product-title.center-align Polo

                p.category-description 
                    strong Polo 
                    | is an Ideal banquet chair. Suitable for any function. Can go well as dining chair in homes, restaurants, dining halls dhabas, banquet rooms, marriage halls, etc.
                p.category-description Dimensions: (H) 890 mm, (W) 470 mm, (D) 450 mm
                p.category-description Key Features:
                ul
                    li.feature-list Attractive and Ideal banquet chairs
                    li.feature-list Suitable for any occassion and function
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc      
                .row.center-align
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_polo_4.png", alt="Polo High Back Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Polo PWD
                                p.price MRP: ₹ 515/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Polo PWD")
                                        i.material-icons shopping_cart              
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_polo_2.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Polo RWD 
                                p.price MRP: ₹ 515/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Polo RWD")
                                        i.material-icons shopping_cart              
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_polo_3.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Polo MBG 
                                p.price MRP: ₹ 515/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Polo MBG")
                                        i.material-icons shopping_cart              
                    .col.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/s_polo_1.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Polo RED 
                                p.price MRP: ₹ 515/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Polo RED")
                                        i.material-icons shopping_cart                                     
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left home
                        | Home

