extends partials/head.pug

block title 
        title Storage Solutions

block content
    .container
        .card.purple-card
            .card-image
                img(src="images/cover/cabinets.png", class="category-page-img", alt="Liberty Cabinets, Storage Solutions, Deccan Plast Industries")
            .card-content.center-align
                h2.category-title.center-align Storage Solutions
                h3.product-title.center-align Liberty Cabinets Big 
                p.category-description  
                strong Liberty Cabinets Big 
                | is Rattan finished and wooden finished  cabinets for houses and commercial establishments 
                p.category-description 
                strong Recommended 
                |for Household, Office, Kitchens.
                p.category-description 
                strong Dimensions: 
                |(H) 1500 mm (W) 710 mm (D) 440 mm
            img.xzoom(src='images/products/furniture/liberty_cabinets.png', xoriginal='images/products/furniture/liberty_cabinets.png')
            .xzoom-thumbs
              a(href='images/products/furniture/liberty_cabinets.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets_big_dbr_wooden.png', xpreview='images/products/furniture/liberty_cabinets_big_dbr_wooden.png')
              a(href='images/products/furniture/liberty_cabinets_big_dbr_tco.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets_big_dbr_tco.png')
              a(href='images/products/furniture/liberty_cabinets.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets.png')
              a(href='images/products/furniture/liberty_cabinets1.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets1.png')
