extends partials/head.pug

block title 
        title Storage Solutions

block content
    .container
        .card.purple-card
            .card-image
                img(src="images/cover/cabinets.png", class="category-page-img", alt="Liberty Cabinets, Storage Solutions, Deccan Plast Industries")
            .card-content.center-align
                h2.category-title.center-align Storage Solutions
                h3.product-title.center-align Liberty Cabinets Small 
                p.category-description  
                strong Liberty Cabinets Small - 
                | Rattan finished and wooden finished  cabinets for houses and commercial establishments 
                p.category-description 
                strong Recommended 
                |for Household, Office, Kitchens.
                p.category-description 
                strong Dimensions: 
                |(H) 790 mm (W) 710 mm (D) 440 mm
                .row.center-align
                    .col.s12.m4.offset-m4
                        .card.product-card.z-depth-2
                            .card-image.center-align
                                img(src="images/products/furniture/liberty_cabinets_small.png", alt="Liberty Cabinets, Storage Solutions, Cupboard, Deccan Plast Industries")
                            .card-content.center-align.pink-card
                                span.card-title Liberty Small
                                p.price MRP: ₹ 4425/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Liberty Small")
                                        i.material-icons shopping_cart 
                        a(href="https://www.youtube.com/watch?v=mrg4mudwA4M").btn.btn-large.waves-effect.waves-light.red.white-text Assembly Instructions                                            
            img.xzoom(src='images/products/furniture/liberty_cabinets.png', xoriginal='images/products/furniture/liberty_cabinets.png')
            .xzoom-thumbs
              a(href='images/products/furniture/liberty_cabinets.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets_big_dbr_wooden.png', xpreview='images/products/furniture/liberty_cabinets_big_dbr_wooden.png')
              a(href='images/products/furniture/liberty_cabinets_big_dbr_tco.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets_big_dbr_tco.png')
              a(href='images/products/furniture/liberty_cabinets.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets.png')
              a(href='images/products/furniture/liberty_cabinets1.png')
                img.xzoom-gallery(width='80', src='images/products/furniture/liberty_cabinets1.png')
