extends partials/head.pug

block title 
        title Mid Back Arm Chairs

block content
    .container
        .card.purple-card
            .card-image
                img(src="images/cover/midback_cover_pic.png", class="category-page-img", alt="Mid Back Arm Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Mid Back Arm Chairs
                h3.product-title.center-align Camry
                p.category-description 
                    strong Camry
                    |  is very strong arm chairs fit for multitask role.
                p.category-description
                strong Dimensions: 
                |(H) 790 mm, (W) 570 mm, (D) 610 mm

                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Strong and Sturdy
                    li.feature-list Multipurpose Everyday usage
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc               
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/camry_rwd.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Camry RWD
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Camry RWD")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/camry_pwd.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Camry PWD 
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Camry PWD")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/camry_mbg.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Camry MBG 
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Camry MBG")
                                        i.material-icons shopping_cart          

                h3.product-title.center-align Accord
                p.category-description 
                strong Accord
                |  is very strong arm chairs fit for multitask role.
                p.category-description
                strong Dimensions: 
                |(H) 790 mm, (W) 570 mm, (D) 610 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Strong and Sturdy
                    li.feature-list Multipurpose Everyday usage
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc                                 
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/accord_mbg.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Accord MBG
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Accord MBG")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/accord_pwd.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Accord PWD 
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Accord PWD")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/accord_rwd.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Accord RWD 
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Accord RWD")
                                        i.material-icons shopping_cart              
                
                h3.product-title.center-align Amaze
                p.category-description 
                strong Amaze
                |  is very strong arm chairs fit for multitask role.
                p.category-description
                strong Dimensions: 
                |(H) 790 mm, (W) 570 mm, (D) 610 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Strong and Sturdy
                    li.feature-list Multipurpose Everyday usage
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc                     
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/amaze_mbg.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Amaze MBG
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Amaze MBG")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/amaze_tco.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Amaze TCO 
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Amaze TCO")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/amaze_dbr.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Amaze DBR 
                                p.price MRP: ₹ 615/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Amaze DBR")
                                        i.material-icons shopping_cart          
                
                
                h3.product-title.center-align Eon
                p.category-description 
                strong Eon
                |   chairs are ideal anywhere and any ambience chairs for casual seating.
                p.category-description
                strong Dimensions: 
                | (H) 780 mm, (W) 540 mm, (D) 590 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Strong and Sturdy
                    li.feature-list Multipurpose Everyday usage
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc     
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/eon_red.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Eon RED
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Eon RED")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/eon_mbg.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Eon MBG 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Eon MBG")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/eon_pwd.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Eon PWD 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Eon PWD")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/eon_rwd.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Eon RWD 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Eon RWD")
                                        i.material-icons shopping_cart                                                                                                        
                
                h3.product-title.center-align Brio
                p.category-description 
                strong Brio
                |   chairs are ideal anywhere and any ambience chairs for casual seating.
                p.category-description
                strong Dimensions: 
                | (H) 780 mm, (W) 540 mm, (D) 590 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Strong and Sturdy
                    li.feature-list Multipurpose Everyday usage
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc     
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/brio_rwd.png", alt="Brio Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Brio RWD
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Brio RWD")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/brio_mbg.png", alt="Brio Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Brio MBG 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Brio MBG")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/brio_pwd.png", alt="Brio Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Brio PWD 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Brio PWD")
                                        i.material-icons shopping_cart          
                h3.product-title.center-align Up
                p.category-description 
                strong Up
                |   chairs are ideal anywhere and any ambience chairs for casual seating.
                p.category-description
                strong Dimensions: 
                | (H) 780 mm, (W) 540 mm, (D) 590 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Strong and Sturdy
                    li.feature-list Multipurpose Everyday usage
                    li.feature-list  Easy to stack and transport
                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc     
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/up_rwd.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Up RWD
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Up RWD")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/up_pwd.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Up PWD 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Up PWD")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/up_mhg.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Up MHG 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Up MHG")
                                        i.material-icons shopping_cart          
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/up_red.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Up RED 
                                p.price MRP: ₹ 535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Up RED")
                                        i.material-icons shopping_cart                     
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left arrow_back
                        | BACK

