extends partials/head.pug

block title 
        title Novelty Chairs

block content
    .container
        .card
            .card-image
                img(src="images/cover/novelty.png", class="category-page-img", alt="Premium Arm Chairs, Deccan Plast Industries")
            .card-content.purple-card
            
                h2.category-title.center-align Premium Novelty Chairs
                      h3.product-title.center-align Focus
                p.category-description 
                    strong Focus 
                    |consists lines design on seat and back arm chairs with metal pipe with claddings
                    p.category-description 
                    strong Dimensions: 
                    | (H) 810 mm (W) 430 mm (D) 490 mm 
                    p.category-description
                    strong  Key Features:
                    |
                    ul
                        li.feature-list  Premium quality armless chairs with Line design on seat and back for comfort seating. 
                        li.feature-list Very sturdy and strong chair.
                        li.feature-list  Suitable for any formal or informal ambience and special locations
                    p.category-description 
                        strong Recommended 
                        | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.                               
                        .row.center-align
                            .col.s12.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus_cyb.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align.pink-card
                                        span.card-title Focus CYB
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus CYB")
                                                i.material-icons shopping_cart          
                            //- .col.s12.m6.l3
                            //-     .card.product-card.z-depth-2
                            //-         .card-image
                            //-             img(src="images/products/furniture/focus_premium_armless_chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                            //-         .card-content.center-align.pink-card
                            //-             span.card-title Focus RED
                            //-             p.price MRP: ₹ 1400/-
                            //-             .right-align
                            //-                  a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus RED")
                            //-                     i.material-icons shopping_cart                   
                            .col.s12.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus_org.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align.pink-card
                                        span.card-title Focus ORG
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus ORG")
                                                i.material-icons shopping_cart                   
                            .col.s12.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus_ylw.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align.pink-card
                                        span.card-title Focus YLW
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus YLW")
                                                i.material-icons shopping_cart            
                            .col.s12.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus_dbr.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align.pink-card
                                        span.card-title Focus DBR
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus DBR")
                                                i.material-icons shopping_cart               
                h3.product-title.center-align Fusion
                p.category-description 
                strong Fusion 
                |consists Rattan design on seat and back arm chairs with metal pipe with claddings
                p.page-description 
                strong Dimensions:
                | (H) 810 mm (W) 430 mm (D) 490 mm 

                p.category-description
                strong  Key Features:
                |
                ul
                    li.feature-list  Premium quality armless chairs with Line design on seat and back for comfort seating. 
                    li.feature-list Very sturdy and strong chair.
                    li.feature-list  Suitable for any formal or informal ambience and special locations
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.                               
                .row.center-align
                    //- .col.s12.m6.l3
                    //-     .card.product-card.z-depth-2
                    //-         .card-image
                    //-             img(src="images/products/furniture/fusion_dgy.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                    //-         .card-content.center-align.pink-card
                    //-             span.card-title Fusion DGY
                    //-             p.price MRP: ₹ 1400/-
                    //-             .right-align
                    //-                     a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Fusion DGY")
                    //-                         i.material-icons shopping_cart                        
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/fusion_tco.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Fusion TCO
                                p.price MRP: ₹ 1400/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Fusion TCO")
                                            i.material-icons shopping_cart                  
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/fusion_dbr.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Fusion DBR
                                p.price MRP: ₹ 1400/-
                                .right-align
                                        a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Fusion DBR")
                                            i.material-icons shopping_cart   
                h3.product-title.center-align Optima    
                p.category-description  
                     strong Optima 
                     |lines design on seat and back arm chairs with metal pipe with claddings,Premium quality arm chairs with Line design on seat and back for comfort 	seating. 
               
                p.category-description  
                 strong Dimensions:
                 | (H) 810 mm (W) 580 mm (D) 480 mm 
                p.category-description    
                   strong  Key Features:
                     |
                     ul
                     li.feature-list  Very sturdy and strong chair.
                     li.feature-list  Suitable for any formal or informal ambience and special locations
                     li.feature-list  Suited for  comfort seating

                p.category-description 
                    strong Recommended 
                    | for households, restaurants, resorts, hotels, collage/school class rooms, visitor chairs, office chairs and any formal seating, a replacement of wooden chairs
                .row.center-align
                    //- .col.s12.m6.l3
                    //-     .card.product-card.z-depth-2
                    //-         .card-image
                    //-             img(src="images/products/furniture/optima_cyb.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                    //-         .card-content.center-align.pink-card
                    //-             span.card-title Optima CYB
                    //-             p.price MRP: ₹ 1535/-
                    //-             .right-align
                    //-                 a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Optima CYB")
                    //-                     i.material-icons shopping_cart
                    //- .col.s12.m6.l3
                    //-     .card.product-card.z-depth-2
                    //-         .card-image
                    //-             img(src="images/products/furniture/optima_red.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                    //-         .card-content.center-align.pink-card
                    //-             span.card-title Optima RED 
                    //-             p.price MRP: ₹ 1535/-
                    //-             .right-align
                    //-                 a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Optima RED")
                    //-                     i.material-icons shopping_cart
                    //- .col.s12.m6.l3
                    //-     .card.product-card.z-depth-2
                    //-         .card-image
                    //-             img(src="images/products/furniture/optima_org.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                    //-         .card-content.center-align.pink-card
                    //-             span.card-title Optima ORG 
                    //-             p.price MRP: ₹ 1535/-
                    //-             .right-align
                    //-                 a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Optima ORG")
                    //-                     i.material-icons shopping_cart
                    //- .col.s12.m6.l3
                    //-     .card.product-card.z-depth-2
                    //-         .card-image
                    //-             img(src="images/products/furniture/optima_ylw.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                    //-         .card-content.center-align.pink-card
                    //-             span.card-title Optima YLW 
                    //-             p.price MRP: ₹ 1535/-
                    //-             .right-align
                    //-                 a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Optima YLW")
                    //-                     i.material-icons shopping_cart
                    //- .col.s12.m6.l3
                    //-     .card.product-card.z-depth-2
                    //-         .card-image
                    //-             img(src="images/products/furniture/optima_dbr.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                    //-         .card-content.center-align.pink-card
                    //-             span.card-title Optima DBR 
                    //-             p.price MRP: ₹ 1535/-
                    //-             .right-align
                    //-                 a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Optima DBR")
                    //-                     i.material-icons shopping_cart
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/optima_tco.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Optima TCO 
                                p.price MRP: ₹ 1535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Optima TCO")
                                        i.material-icons shopping_cart                                        

                h3.product-title.center-align Altima    
                
                p.category-description  

                     strong Altima  
                     | Rattan design on seat and back arm chairs with metal pipe with claddings,Premium quality arm chairs with Rattandesign on seat and back for comfort seating. 
              
                p.category-description  
                strong Dimensions:
                | (H) 810 mm (W) 580 mm (D) 480 mm 
                p.category-description    
                   strong  Key Features:
                     |
                     ul
                     li.feature-list  Very sturdy and strong chair.
                     li.feature-list  Suitable for any formal or informal ambience and special locations
                     li.feature-list  Suited for  comfort seating

                p.category-description 
                    strong Recommended 
                    | for households, restaurants, resorts, hotels, collage/school class rooms, visitor chairs, office chairs and any formal seating, a replacement of wooden chairs
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/altima_dbr.png", alt="Altima Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Altima DBR
                                p.price MRP: ₹ 1535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Altima DBR")
                                        i.material-icons shopping_cart
                    //- .col.s12.m6.l3
                    //-     .card.product-card.z-depth-2
                    //-         .card-image
                    //-             img(src="images/products/furniture/altima_tco.png", alt="Altima Premium Arm Chair, Deccan Plast Industries.")
                    //-         .card-content.center-align.pink-card
                    //-             span.card-title Altima TCO 
                    //-             p.price MRP: ₹ 1535/-
                    //-             .right-align
                    //-                 a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Altima  TCO")
                    //-                     i.material-icons shopping_cart     
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/altima_dgy.png", alt="Altima Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Altima DGY 
                                p.price MRP: ₹ 1535/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Altima DGY")
                                        i.material-icons shopping_cart   
                                    