extends partials/head.pug

block title 
        title Ornamental Chairs

block content
    .container
        .card
            .card-image
                img(src="images/cover/ornamental-chairs.png", class="category-page-img", alt="Ornamental Chairs, Deccan Plast Industries")
            .card-content.purple-card
                h2.category-title.center-align Premium Ornamental Chairs
                h3.product-title.center-align Impreza

                p.category-description
                     strong  Impreza  
                     |    is fully rattan designed chair is first of its kind in India have ergonomically contoured comfortable back.The seat, back,arms, legs are having rattan texture makes its look very luxurious and ornamental with perfectcomfort. The metallic glossy colors enhance the beauty of the chair many fold. The style, rattan texture, designand color and finish give rich look of ornamental chair instead of an ordinary plastic chairRecommended for households, resorts, hotels, replacement for wooden or bamboo chairs that need no maintenance.
                p.category-description
                 strong    Key Features:
                 |
                 ul
                    li.feature-list  Broad and high arm rest. 
                    li.feature-list  Fully Rattan textured luxurious Ornamental chair
                    li.feature-list  Excellent ergonomic classic back design.
                    li.feature-list  Can fit all types of formal seating needs.
                    li.feature-list  Ideal ornamental chairs.
                p.category-description
                    strong Dimensions: 
                    | (H) 820 mm (W) 560 mm (D) 540 mm

                p.category-description 
                    strong Recommended 
                    | for households, restaurants, resorts, hotels, collage/school class rooms, visitor chairs, office chairs and any formal seating, a replacement of wooden chairs
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/impreza_dbr.png", alt="Impreza Ornamental Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Impreza DBR
                                p.price MRP: ₹ 750/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Impreza DBR")
                                        i.material-icons shopping_cart
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/impreza_tco.png", alt="Impreza Ornamental Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Impreza TCO 
                                p.price MRP: ₹ 750/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Impreza TCO")
                                        i.material-icons shopping_cart
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/impreza_dgy.png", alt="Impreza Ornamental Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Impreza DGY 
                                p.price MRP: ₹ 750/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Impreza DGY")
                                        i.material-icons shopping_cart
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/impreza_cpr.png", alt="Impreza Ornamental Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Impreza CPR 
                                p.price MRP: ₹ 750/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Impreza CPR")
                                        i.material-icons shopping_cart