extends partials/head.pug

block title 
        title Premium High Back Chairs

block content
    .container
        .card.purple-card
            .card-image
                img(src="images/cover/lexus_cover_pic.png", class="category-page-img", alt="Premium High Back Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Premium High Back Chairs
                h3.product-title.center-align Lexus
                p.category-description 
                    strong Lexus 
                    |  have ergonomically contoured high back, and are very strong for daily use comfortable for long seating. The back of these chairs fit the body back shape perfectly for perfect comfort. The extra broad and high handles are perfect arm rest. The style, back design and color and finish give rich look of leather chair to a ordinary plastic chair.
                p.center-align 
                strong Dimensions: 
                | (H) 860 mm, (W) 580 mm, (D) 670 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  High Back Luxury Chairs
                    li.feature-list  Wooden Texture
                    li.feature-list  Broad and High arm rest
                    li.feature-list  Excellent ergonomics, classic back design
                    li.feature-list  Suitable for all formal seating needs 
                    li.feature-list  Ideal for visitor chairs
                p.category-description 
                    strong Recommended 
                    |for homes, restaurants, dining halls, banquet rooms, marriage halls, etc.
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/lexus_tco.png", alt="Lexus Premium High Back Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Lexus TCO
                                p.price MRP: ₹ 785/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Lexus TCO")
                                        i.material-icons shopping_cart      
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/lexus_dbr.png", alt="Lexus Premium High Back Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Lexus DBR 
                                p.price MRP: ₹ 785/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Lexus DBR")
                                        i.material-icons shopping_cart      
                h3.product-title.center-align Porsche
                p.category-description 
                    strong Porsche 
                    |  have ergonomically contoured high back, and are very strong for daily use comfortable for long seating. The back of these chairs fit the body back shape perfectly for perfect comfort. The extra broad and high handles are perfect arm rest. The style, back design and color and finish give rich look of leather chair to a ordinary plastic chair.
                p.center-align 
                strong Dimensions: 
                | (H) 860 mm, (W) 580 mm, (D) 670 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  High Back Luxury Chairs
                    li.feature-list  Wooden Texture
                    li.feature-list  Broad and High arm rest
                    li.feature-list  Excellent ergonomics, classic back design
                    li.feature-list  Suitable for all formal seating needs 
                    li.feature-list  Ideal for visitor chairs
                p.category-description 
                    strong Recommended 
                    |for homes, restaurants, dining halls, banquet rooms, marriage halls, etc.
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/porsche_rwd.png", alt="Porsche Premium High Back Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Porsche RWD
                                p.price MRP: ₹ 785/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Porsche RWD")
                                        i.material-icons shopping_cart      
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/porsche_mwd.png", alt="Porsche Premium High Back Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Porsche MWD 
                                p.price MRP: ₹ 785/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Porsche MWD")
                                        i.material-icons shopping_cart      
                h3.product-title.center-align Mercedes
                p.category-description 
                    strong Mercedes 
                    |  have ergonomically contoured high back, and are very strong for daily use comfortable for long seating. The back of these chairs fit the body back shape perfectly for perfect comfort. The extra broad and high handles are perfect arm rest. The style, back design and color and finish give rich look of leather chair to a ordinary plastic chair.
                p.center-align 
                strong Dimensions: 
                | (H) 860 mm, (W) 580 mm, (D) 670 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  High Back Luxury Chairs
                    li.feature-list  Wooden Texture
                    li.feature-list  Broad and High arm rest
                    li.feature-list  Excellent ergonomics, classic back design
                    li.feature-list  Suitable for all formal seating needs 
                    li.feature-list  Ideal for visitor chairs
                p.category-description 
                    strong Recommended 
                    |for homes, restaurants, dining halls, banquet rooms, marriage halls, etc.
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/mercedes_tco.png", alt="Mercedes Premium High Back Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Mercedes TCO
                                p.price MRP: ₹ 785/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Mercedes TCO")
                                        i.material-icons shopping_cart      
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/mercedes_dbr.png", alt="Mercedes Premium High Back Chairs, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Mercedes DBR 
                                p.price MRP: ₹ 785/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Mercedes DBR")
                                        i.material-icons shopping_cart              
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left arrow_back
                        | BACK



