extends partials/head.pug

block title 
        title Premium Relax Chairs

block content
    .container
        .card
            .card-image
                img(src="images/cover/ferrari-new.png", class="category-page-img", alt="Premium Arm Chairs, Deccan Plast Industries")
            .card-content.purple-card
                h2.category-title.center-align Premium Relax Chairs
                h3.product-title.center-align Ferrari
                p.category-description 
                strong Ferrari 
                |is flagships Deccan models and are unique in many ways. They are ergonomically crafted, with contoured back and seat to support hips, lumber, spine and neck to support the back shape perfectly for extraordinary comfort - truly a RELAX CHAIRS! The seat height is ideal for all age groups including senior citizens find it easy to seat and get up. The broad handles for arm rest are at perfect height designed for true comfort.
                p.category-description 
                strong  Dimensions:
                | (H) 920 mm, (W) 610 mm, (D) 750 mm
                p.category-description
                strong Key Features:
                |
                ul
                    li.feature-list  Ergonomic
                    li.feature-list  Extremely Comforatble Design
                    li.feature-list  Higher seat height
                    li.feature-list  Excellent support for lumber and neck
                    li.feature-list  Ideal for leisure seating  
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/ferrari_tco.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Ferrari TCO
                                p.price MRP: ₹ 1170/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Ferrari TCO")
                                        i.material-icons shopping_cart       
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/ferrari_dbr.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Ferrari DBR 
                                p.price MRP: ₹ 1170/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Ferrari DBR")
                                        i.material-icons shopping_cart       
                h3.product-title.center-align Lotus
                p.category-description 
                strong Lotus 
                |is flagships Deccan models and are unique in many ways. They are ergonomically crafted, with contoured back and seat to support hips, lumber, spine and neck to support the back shape perfectly for extraordinary comfort - truly a RELAX CHAIRS! The seat height is ideal for all age groups including senior citizens find it easy to seat and get up. The broad handles for arm rest are at perfect height designed for true comfort.
                p.category-description 
                strong  Dimensions:
                | (H) 920 mm, (W) 610 mm, (D) 750 mm
                p.category-description
                strong Key Features:
                |
                ul
                    li.feature-list  Ergonomic
                    li.feature-list  Extremely Comforatble Design
                    li.feature-list  Higher seat height
                    li.feature-list  Excellent support for lumber and neck
                    li.feature-list  Ideal for leisure seating  
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.
                .row.center-align
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/lotus_tco.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Lotus TCO
                                p.price MRP: ₹ 1170/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Lotus TCO")
                                        i.material-icons shopping_cart       
                    .col.s12.m6.l3
                        .card.product-card.z-depth-2
                            .card-image
                                img(src="images/products/furniture/lotus_dbr.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                            .card-content.center-align.pink-card
                                span.card-title Lotus DBR 
                                p.price MRP: ₹ 1170/-
                                .right-align
                                    a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Lotus DBR")
                                        i.material-icons shopping_cart             
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left arrow_back
                        | BACK

